.itemContainer{
    width: 100%;
}
#itemDisplay{
    width: 94%;
    border: 1px solid lightgray;
    margin-top: 1px;
    border-radius: 5px;
    font-size: 18px;
    /* height: auto; */
    float: left;
    box-shadow: 0 0 5px #b2b2b2;
    overflow: hidden;
    padding: 2px;
}
#edit{
    /* width: 160px; */
    /* height: 35px; */
    text-transform: uppercase;
    color:white;
    margin-top: 1px;
	 text-shadow: 0px 1px 1px #ffffff;
	 border-bottom: 2px solid #b2b2b2;
     background-color: blue;
     font-size: 18px;
     /* background: -webkit-gradient; */
     border-radius: 8px
}
.inputText1,.inputText2{
    width: 46%;
	 float: left;
	 margin: 10px;
}
#update{
    /* width: 160px; */
    /* height: 35px; */
    text-transform: uppercase;
    color:white;
	 /* text-shadow: 0px 1px 1px #ffffff; */
	 border-bottom: 2px solid #b2b2b2;
     background-color:orange;
     font-size: 18px;
     /* background: -webkit-gradient; */
     border-radius: 5px
}
#delete{
    /* width: 160px; */
    /* height: 35px; */
    text-transform: uppercase;
    color:white;
	 /* text-shadow: 0px 1px 1px #ffffff; */
	 border-bottom: 2px solid #b2b2b2;
     background-color:red;
     font-size: 18px;
     /* background: -webkit-gradient; */
     border-radius: 5px
}
#cancel{
    /* width: 160px; */
    /* height: 35px; */
    text-transform: uppercase;
    color:black;
	 /* text-shadow: 0px 1px 1px #ffffff; */
	 border-bottom: 2px solid #b2b2b2;
     background-color:white;
     font-size: 18px;
     /* background: -webkit-gradient; */
     border-radius: 5px
}